* {
  box-sizing: border-box;
}

body {
  background: #f2f2f2;
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  margin-left: 1rem;
  font-size: 36px;
}

h3 {
  color: darkblue;
}

.back-nav a {
  text-decoration: none;
  color: black;
  font-size: 24px;
  margin-left: 1rem;
}

.back-nav a:hover {
  color: darkblue;
  text-decoration: underline;
}

.success {
  border: 1px solid green;
  padding: 1rem;
  color: green;
}

.error {
  border: 1px solid darkred;
  padding: 1rem;
  color: darkred;
}

.loading {
  border: 12px solid #f3f3f3;
  border-top: 12px solid darkblue;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  animation: spin 1.5s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
